@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
</head>
<body>
    <h2>Index Page</h2>
    <p>@ViewBag.Message</p>
    <a href="/Home/Test">Test</a>
</body>
</html>