@model WebApplication3.Models.User

@{
    ViewBag.Title = "Result";
}
    <h2>Result</h2>
    @Html.DisplayNameFor(u => u.username)
    @Html.DisplayFor(u => u.username)
    <br />
    @Html.DisplayNameFor(u => u.password)
    @Html.DisplayFor(u => u.password)
