@model WebApplication3.Models.User

@{
    ViewBag.Title = "Result";
}
<!DOCTYPE html>
<html>
<head>
    <title>Result Page</title>
</head>
<body>
    <h2>Result</h2>
    @Html.DisplayNameFor(u => u.username)
    @Html.DisplayFor(u => u.username)
    @Html.DisplayNameFor(u => u.password)
    @Html.DisplayFor(u => u.password)
</body>
</html>