
@{
    ViewBag.Title = "Test";
}

<!DOCTYPE html>
<html>
<head>
    <title>Test Page</title>
</head>
<body>
    <h2>Test</h2>
    <p>username field: @ViewBag.UserData.username</p>
    <p>password field: @ViewBag.UserData.password</p>
</body>
</html>

